body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: yellow;
  min-height: 100vh;
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  border-radius: 50%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  @include circle(50px, black);
}
