section.approach 
    .container
        .title.title_bottom-line 
            h2.title.title__header Our Approach 
            .title__text Check Our Approaches Step By Step


        ul.approach__list 
            li.approach__item 
                .approach__img 
                    img.approach__picture(src="../img/step-1.jpg" alt="picture")
                    .approach__step step 

                .approach__text 
                    .approach__title Step 1 : Heading Here 
                    p.approach__description.    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed, laudantium illum natus provident repellendus officiis necessitatibus autem deserunt iusto.
            li.approach__item 
                .approach__img 
                    img.approach__picture(src="../img/step-2.jpg" alt="picture")
                    .approach__step step 

                .approach__text 
                    .approach__title Step 2 : Heading Here 
                    p.approach__description.    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed, laudantium illum natus provident repellendus officiis necessitatibus autem deserunt iusto.
            li.approach__item 
                .approach__img 
                    img.approach__picture(src="../img/step-3.jpg" alt="picture")
                    .approach__step step 

                .approach__text 
                    .approach__title Step 3 : Heading Here 
                    p.approach__description.    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed, laudantium illum natus provident repellendus officiis necessitatibus autem deserunt iusto.
            li.approach__item 
                .approach__img 
                    img.approach__picture(src="../img/step-4.jpg" alt="picture")
                    .approach__step step 

                .approach__text 
                    .approach__title Step 4 : Heading Here 
                    p.approach__description.    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed, laudantium illum natus provident repellendus officiis necessitatibus autem deserunt iusto.
