.contacts 
    a.contact(href="tel:+996000000000")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text 000 00 00 00

    a.contact(href="mailto:mail@mail.ru")
        i.fa.fa-envelope.contact__icon.contact__icon_email(aria-hidden='true')
        span.contact__text mail@mail.ru

    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")