section.form-section 
    .container 
        .title 
            h2.title.title__header  Get Your Free Facebook Analytics Now 
            .title__text Enter your details below

        .btn-down: a.arrow-down: i.fa.fa-angle-down

        .form-container.is-hidden 
            form(method="post" action="#").form
                button(type="button").form__close-button x 
                .form__text.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempora cupiditate possimus velit minus voluptates ullam fuga nemo beatae sint!

                .form__fields 
                    input.form__input(type="text" placeholder="Your Name")
                    input.form__input(type="text" placeholder="Contact Number")
                    input.form__input(type="text" placeholder="Contact Name")

                button(type="submit").button.button_text-uppercase.button_red Submit now

    