header.header 
    .header__top
        .container 
            include contacts

    .container  
        .header__bottom
            .logo: img.logo__picture(src="img/logo.png" alt="picture")
            include nav
            a.button.header__button.button_red(href="#") Free Consultation