section.work 
    .container 
        .title.title_bottom-line 
            .h2.title.title__header Our Work 
            .title__text We added out featured works for business

        ul.work__list 
            li.work__item.work__item_name
                .work__name Project Name 
                .work__description Facebook Marketing
            li.work__item: img.work__picture(src="img/work-1.jpg" alt="Picture")

            li.work__item.work__item_name
                .work__name Project Name 
                .work__description Langing Page
            li.work__item: img.work__picture(src="img/work-2.jpg" alt="Picture")

            li.work__item: img.work__picture(src="img/work-3.jpg" alt="Picture")
            
            li.work__item.work__item_name
                .work__name Project Name 
                .work__description Facebook marketing

            li.work__item: img.work__picture(src="img/work-4.jpg" alt="Picture")
            
            li.work__item.work__item_name
                .work__name Project Name 
                .work__description Langing Page